<div class="movie_desc">
              <img src="/images/{{moviePoster}}" alt="movie poster" class="poster">
              <p class ="movie_name">
                  {{movieName}}
              </p>

              <p class="description">
                  <br>
                  {{movieSynopsis}}
              </p>
               <a href="movie-details/{{_id}}" class="movie-details">More Details</a>


</div>
