<img id="profile" src="../images/{{user.picture}}" />
<h1 id="name">{{user.firstName}} {{user.lastName}}</h1>
<h3 id="manager">{{user.username}}</h3>
<div class="button">
    <a href="#" class="edit">Log Out</a>//add logout
</div>