<div class"movie-container">
  <!-- contains the movie poster and the detials button -->
  <img class="movie-poster" src="images/avengers-endgame.jpg">
  <h3 class="title">{{movieName}}</h3>
  <a href="movie-details-avengersendgame.html" class="movie-details">More Details</a>
</div>
