<div class"movie-container">
  <!-- contains the movie poster and the detials button -->
  <img class="movie-poster" src="/images/{{moviePoster}}">
  <h3 class="title">{{movieName}}</h3>
  <a href="movie-details/{{_id}}" class="movie-details">More Details</a>
  <!-- <a href="#" onclick="moviePage(0); return false;" class="movie-details">More Details</a> -->
  <!-- <button action="/movie-details" class="movie-details">More Details</button> -->
</div>
