<div id="loc1" class="location">
  <h3 class="cinema">Manila City<span class="cinema-num">Cinema 1</span></h3><div class="sched-info">
    <ul class="avail dates">
      <li class="date-title">Available Dates</li>
      <li><a class="option" onclick="changeText(event, '', 'book-date')"></a></li>
    </ul>
    <ul class="avail times">
      <li class="time-title">Available Times</li>
      <li><a class="option2" onclick="changeText(event, '', 'book-time')"></a></li>
    </ul>
  </div>
</div>
