body{
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #f5f5f5;
}
h2{
  color:  #480CA8;
  margin: 25px;
}
p{
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 20px;
  text-align: justify;
}
ul.top-nav {
  list-style-type: none;
  margin: 10px;
  margin: 12px 10px 10px 10px;
  padding: 0;
  display: flex;
  float: right;
}

#top-nav-bar {
  background-color: #b5179e;
  position: sticky;
  top: 0;
  overflow: hidden;
  max-height: auto;
}

a.top-nav {
  padding: 17px 12px 17px 12px;
  padding: 0 12px 0 12px;
  margin: 0;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
}


a.top-nav:hover {
  color: #f79574;
}

a.top-nav:hover {
  color: #F3A5E7;
  border: none;
  margin-right: 16px;
  margin-left: 10px;
  font-size: 17px;
  font-size: 15px;
  font-family: 'Nunito', sans-serif;
}

a.top-nav-about{
  padding: 17px 12px 17px 12px;
  text-align: center;
  text-decoration: none;
  color: #f79574;
  font-size: 20px;
}
#search {
  padding: 6px;
  border: none;
  margin-right: 16px;
  margin-left: 10px;
  font-size: 17px;
}
.founder{
  height: 297px;
  width: 230px;
  float: left;
  margin-left: 55px;
  margin-top: 15px;
  object-fit: contain;
}
.description{
  float: left;
  width: 1200px;
}
#founders{
  color: #f72585;
}
.socmed{
  float: left;
  width: 1328px;
}
.socmed_logo{
  list-style-type: none;
  margin: 5px;
  padding: 0;
  height: 60px;
}
.socmed_acc{
  float: left;
  width: auto;
  height: 20px;
}
a.socmed_acc {
  text-decoration: none;
  float: left;
  color: white;
  font-size: 25px;
  padding: 5px;
}