body {
  margin: 0;
}

#banner {
  display: flex;
  background-color: #f79574;
  margin-top: 30px;
}

h1{
  text-align: center;
  font-size: 70px;
  padding-top: 25%;
  padding-left: 10%;
}

.reg {
  display: block;
  width: 70px;
  margin: 20px;
  background-color: white;
  text-decoration: none;
  padding: 7px 12px;
  color: black;
}

.reg:hover {
  background-color: #a13f1f;
  color: white;
}

.reg-div{
  font-size: 20px;
  text-align: center;
  margin: 20px;
  padding-left: 40%;
}

.slideshow-container {
  max-width: auto;
}

.login {
  width: 100%;
  max-width: auto;
}

.bnnrSlides:not(.first) {
  display: none;
}

.bnnrSlides {
  display: block;
  object-fit: contain;
  max-width: 90%;
  margin-left: auto;
}

#arrow {
  margin-left: auto;
  text-align: center;
  padding-left: 70px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.previous-arrow, .next-arrow {
  width: 100px;
  height: 40px;
}

#movie-list {
  flex-wrap: wrap;
}

.cinemas {
  flex-wrap: wrap;
  height: auto;
  background-color: #d9d4d4;

}

.movie-poster {
  max-width: 200px;
  max-height: 297px;
  object-fit: contain;
  margin: 10px 10px 10px 10px;
}

div.movielist{
  height: auto;
  display: flex;
  margin-left: 30px;
  padding: 0 0 20px 15px;
}

h3.title {
  word-wrap: break-word;
  max-width: 200px;
  /* commented out for now
  height: 44px;
  max-height: 70px;
  */
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
}

.movie-details {
  display: block;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}

h1 {
  margin: auto;
}
