body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #f5f5f5;
}

ul.top-nav {
  list-style-type: none;
  margin: 10px;
  padding: 0;
  display: flex;
  float: right;
}

a {
    text-decoration: none;
}

#top-nav-bar {
  background-color: #b5179e;
  position: sticky;
  top: 0;
  overflow: hidden;
  max-height: auto;
}

a.top-nav {
  padding: 17px 12px 17px 12px;
  text-align: center;
  color: white;
  font-size: 20px;
}

a.top-nav:hover {
  color: #F3A5E7;
}

#search {
  padding: 6px;
  border: none;
  margin-right: 16px;
  margin-left: 10px;
  font-size: 17px;
}

#banner {
  display: flex;
  background-color: #F72585;
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 17px;
}

#bnnrIcon {
  max-height: 150px;
  display: inline-flex;
  padding-left: 4%;
  margin-top: 5%;
  margin-bottom: 5%;
}

img.bnnrIcon {
  object-fit: contain;
  max-height: 50%;
}

h1{
  text-align: center;
  font-size: 70px;
  /*padding-top: 25%;*/
  padding-left: 10%;
  color: white;
  letter-spacing: 8px;
  text-shadow: 5px 5px 10px #B10653;
}

.reg {
  display: block;
  width: 70px;
  margin: 20px;
  background-color: #560BAD;
  text-decoration: none;
  padding: 7px 12px;
  color: white;
  border-radius: 20px;
}

.reg:hover {
  background-color: white;
  color: #F72585;
  /* h-offset v-offset blur spread color */
  box-shadow: 3px 3px 2px #B10653;
}

.reg-div{
  font-size: 20px;
  text-align: center;
  margin: 20px;
  padding-left: 37%;
}

.slideshow-container {
  max-width: auto;
}

.login {
  width: 100%;
  max-width: auto;
}

.bnnrSlides:not(.first) {
  display: none;
}

.bnnrSlides {
  display: block;
  object-fit: contain;
  max-width: 90%;
  margin-left: auto;
  border-radius: 10px;
  box-shadow: 3px 0px 12px #B10653;
}

#arrow {
  margin-left: auto;
  text-align: center;
  padding-left: 70px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.arrow {
  text-align: center;
  width: 100px;
  height: 40px;
  border-style: hidden;
  border-color: #560BAD;
  border-radius: 5px;
  font-size: 25px;
  background-color: #560BAD;
  margin: 0 10px;
  margin-top: 10px;
  color: white;
  box-shadow: 3px 0px 12px #B10653;
}

.arrow:active {
  box-shadow: 3px 0px 12px #62042E;
}

#movie-list {
  flex-wrap: wrap;
}

.cinemas {
  flex-wrap: wrap;
  height: auto;
  background-color: transparent;
  padding-left: 5%;
  border-radius: 30px;
  margin: 50px;
}

.movie-poster {
  max-width: 200px;
  max-height: 297px;
  object-fit: contain;
  margin: 10px 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 8px #4d4d4d;
}

div.movielist{
  height: auto;
  display: flex;
  margin-left: 30px;
  padding: 0 0 20px 15px;
}

h3.title {
  word-wrap: break-word;
  max-width: 200px;
  /* commented out for now
  height: 44px;
  max-height: 70px;
  */
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
  color: white;
  width: 250px;
  background-color: #F72585;
  border-radius: 30px;
  padding: 5px 0;
  box-shadow: 3px 3px 0px #B10653;
}

.movie-details {
  display: block;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  color: #480CA8;
  padding: 5px;
  border-style: solid;
  border-radius: 15px;
  border-width: 2px;
  background-color: transparent;
}

.movie-details:hover {
  color: #F72585;
}

h1 {
  margin: auto;
}
