body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #f5f5f5;
}

ul.top-nav {
  list-style-type: none;
  margin: 10px;
  padding: 0;
  display: flex;
  float: right;
}

a {
    text-decoration: none;
}

#top-nav-bar {
  background-color: #b5179e;
  position: sticky;
  top: 0;
  overflow: hidden;
  max-height: auto;
}

a.top-nav {
  padding: 17px 12px 17px 12px;
  text-align: center;
  color: white;
  font-size: 20px;
}

a.top-nav:hover {
  color: #F3A5E7;
}

#search {
  padding: 6px;
  border: none;
  margin-right: 16px;
  margin-left: 10px;
  font-size: 17px;
}
