<div id="top-nav-bar">
    <a href="user-index.html"><img id="logo" src="img/MovieBookBooks-line.png" /></a>
    <ul class="top-nav">
        <li class="top"><a class="top-nav" href="user-index.html">Home</a></li>
        <li class="top"><a class="top-nav" href="all_locations.html">Cinemas</a></li>
        <li class="top"><a class="top-nav" href="now-showing.html">Now Showing</a></li>
        <li class="top"><a class="top-nav" href="about_us.html">About Us</a></li>
        <!-- <li class="top"><a class="top-nav" href="">Profile</a></li>-->
        <input id="search" type="text" placeholder="Search...">
    </ul>
</div>