.break { 
    clear: both; 
}

dd.break { 
    float: none; margin: 0; height: 15px;
}

html {
    margin: 0px;
    padding: 0px;
}

body {
    line-height: 22px;
    font: 17px Times;
    margin: 50px 50px 0 50px;
}

ul.top-nav {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    display: flex;
    float: right;
  }
  
  #top-nav-bar {
    background-color: #ba380d;
    position: sticky;
    top: 0;
    overflow: hidden;
    max-height: auto;
  }
  
  a.top-nav {
    padding: 17px 12px 17px 12px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
  
  a.top-nav:hover {
    color: #f79574;
  }

.info {
    float: left;
    padding: 0 0 50px 0;
}

img {
    height: 250px;
    width: 250px;
    margin: 0 30px 0 0;
}

.name {
    margin: 0 0 17px 0;
    padding: 0 0 17px 0;
    font-size: 43px;
    font-weight: bold;
    letter-spacing: -3px;
}

dt {
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    padding: 0 26px 90px 0;
    width: 150px;
    float: left;
    height: 100px;
    border-right: 1px solid rgb(115,113,113);
    margin-right: 26px;
}
