<html>
    <head>
        <title>ABOUT US</title>
        <link rel="stylesheet" href="/css/about_us.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    </head>
    <body>
      {{> header}}

        <div id="list-container">

          <h2>About MovieBookBooks</h2>
          <p>
               MovieBookBooks was founded in 1999 in Pangasinan as a movie rental business by three friends. MovieBookBooks founders Clyla Rafanan, Dani Solis, and Kyla Lacson came up with the idea of as movie rental service that allowed
               users to order movies from a website and have the DVDs be delivered via mail after hearing the complaints of friends who did not live
               near a video rental store. Since then, it has evolved into a move distribution company for Philippine cinemas. Since its transition from a movie rental business in 2007,
               MovieBookBooks has been the main distributor for local and foreign films for numerous cinemas in the country.
          </p>

          <h2>Meet The Founders</h2>
            <div class="description">
            <img src="/images/Kyla2.png" alt="picture of Kyla Lacson" class="founder">
            <p>
              <span id="founders"><u>Kyla Lacson - Chief Executive Officer </u></span>
              <br><br>
              Kyla Lacson graduated with a degree in B.S Information Systems from De La Salle University-Manila. She worked as a junior software
              developer at CARPS before being invited to start MovieBookBooks. She is proud to be from Western Visayas, the home of the Masskara Festival of the Philippines.
              Aside from studying, coding, and making milkshakes, she likes cats and zombies. She dislikes zombie cats.
            </p>
          </div>


          <div class="description">
            <img src="/images/Dani Solis.jpg" alt="picture of Dani Solis" class="founder">
            <p>
              <span id="founders"><u>Dani Solis - Chief Operating Officer </u></span>
              <br><br>
              Dani Solis graduated with a degree in B.S Information Technology with a Minor in Marketing Strategy
              from De La Salle University-Manila. She initially worked as an Applications Developer at RIBS before starting
              MovieBookBooks with her friends. Her interest in films started at the age of 5 when she and her grandparents would have
              a weekly traditon of watching movies every Friday night back in Davao. In fact, it was her grandparents' complaints of having no video rentals
              store that caused Dani to pitch MovieBookBooks to her friends. When she's not working on business-related things, she can be seen
              collecting KPOP merchandise and walking her pet dog, Coco.
            </p>
          </div>

          <div class="description">
            <img src="/images/Clyla.png" alt="picture of Clyla Rafanan" class="founder">
            <p>
              <span id="founders"><u>Clyla Rafanan - Chief Administrative Officer </u></span>
              <br><br>
              Clyla Rafanan graduated with a degree in B.S Business Management with a Minor in Social Technopreneurship
              from De La Salle University-Manila. Before working on MovieBookBooks with Dani and Kyla, she worked as a
              front-end developer at STARBS. She often wonders why she wasn’t born with incredible dancing skills.
              If you want to get in touch with her, find something glittery and you’ll surely catch her eye.
            </p>
          </div>
       </div>

      {{> footer}}

    </body>
</html>
