<html>
    <head>
        <title>Movie Locations</title>
        <link rel="stylesheet" href="css/all_locations.css">
    </head>
    <body>
        {{> header}}

          <h1 id="cinemaLists">LISTS OF CINEMA LOCATIONS</h1>
          <div id="list-container">
            <ul class="locationList">
                <li class="locations"><a href="moviesperloc/Manila City">MANILA CITY</a></li>
                <li class="locations"><a href="/moviesperloc/Bacolod City">BACOLOD CITY</a></li>
                <li class="locations"><a href="/moviesperloc/Davao City">DAVAO CITY</a></li>
                <li class="locations"><a href="/moviesperloc/Pangasinan">PANGASINAN</a></li>
                <li class="locations"><a href="/moviesperloc/Bulacan">BULACAN</a></li>
            </ul>

          </div>
             {{> footer}}
    </body>

</html>