<html>
    <head>
        <title>Movie Locations</title>
        <link rel="stylesheet" href="css/all_locations.css">
    </head>
    <body>
        {{> header}}

          <h1 id="cinemaLists">LISTS OF CINEMA LOCATIONS</h1>
          <div id="list-container">
            <ul class="locationList">
                <li class="locations"><a href="moviesperloc1.html">MANILA CITY</a></li>
                <li class="locations"><a href="moviesperloc2.html">BACOLOD CITY</a></li>
                <li class="locations"><a href="moviesperloc3.html">DAVAO CITY</a></li>
                <li class="locations"><a href="moviesperloc1.html">PANGASINAN</a></li>
                <li class="locations"><a href="moviesperloc1.html">BULACAN</a></li>
            </ul>

          </div>
             {{> footer}}
    </body>

</html>