<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Movie BookBooks</title>
    <link rel="stylesheet" type="text/css" href="css/index-style.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/index-script.js"></script>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  </head>
  <body>
    {{> header}}

    <div id="banner">
      <!-- home banner with slideshow/carousel -->
      <div class="login">
        <!-- offset div that conatins the log in options -->
        <div id="bnnrIcon">
          <img class="bnnrIcon" src="images/MovieBookBooks-header.png">
        </div>
        <!-- <h1>BOOK NOW</h1> -->
        <div class="reg-div">
          <a href="/login" class="reg login2" style="display: none">Login</a>
          <a href="/logout" class="reg logout" style="display: none">Logout</a>
          <a href="/registration" class="reg register" style="display: none">Sign up</a>
        </div>
      </div>
      <div class="slideshow-container">
        <!-- a slideshow/carousel of currently "now showing" movies -->
        <img class="bnnrSlides next" src="images/welcome.png">
        {{#each banners}}
        <img class="bnnrSlides" src="images/banners/{{this.movieBanner}}">
        {{/each}}

        <div id="arrow">
          <button class="previous arrow" onclick="plusDivs(-1)">&#10094;</button>
          <button class="next arrow" onclick="plusDivs(+1)">&#10095;</button>
        </div>

      </div>
    </div>

    <div id="movie-list">
      <div class="cinemas loc1">
        <!-- container for movies under Manila City -->
        <h2 class="loc1">Manila City</h2>
        <div class="loc1 movielist">
          {{#each location1}}
          {{>movieCard this}}
          {{/each}}
          <!-- <div class"movie-container loc1 movie1">
            contains the movie poster and the detials button
            <img class="movie-poster" src="images/avengers-endgame.jpg">
            <h3 class="loc1 movie1 title">Avengers: Endgame</h3>
            <a href="movie-details-avengersendgame.html" class="movie-details">More Details</a>
          </div>
          <div class"movie-container loc1 movie2">
            contains the movie poster and the detials button
            <img class="movie-poster" src="images/starwars-esb.jpg">
            <h3 class="loc1 movie2 title">Star Wars: Episode V - The Empire Strikes Back</h3>
            <a href="movie-details-starwars5.html" class="movie-details">More Details</a>
          </div>
          <div class"movie-container loc1 movie3">
            contains the movie poster and the detials button
            <img class="movie-poster" src="images/shrek.png">
            <h3 class="loc1 movie3 title">Shrek</h3>
            <a href="movie-details-shrek.html" class="movie-details">More Details</a> -->
          </div>
        </div>
      </div>

      <div class="cinemas loc2">
        <!-- container for movies under Bacolod City -->
        <h2 class="loc2">Bacolod City</h2>
        <div class="loc2 movielist">
          <!-- movie list -->
          {{#each location2}}
          {{>movieCard this}}
          {{/each}}
          <!-- <div class"movie-container loc2 movie1">
            contains the movie poster and the detials button
            <img class="movie-poster" src="images/bee-movie.jpg">
            <h3 class="loc2 movie1 title">Bee Movie</h3>
            <a href="movie-details-beemovie.html" class="movie-details">More Details</a>
          </div> -->
        </div>
      </div>

      <div class="cinemas loc3">
        <!-- container for movies under Davao City -->
        <h2 class="loc3">Davao City</h2>
        <div class="loc3 movielist">
          {{#each location3}}
          {{>movieCard this}}
          {{/each}}
          <!-- <div class"movie-container loc3 movie1">
            contains the movie poster and the detials button
            <img class="movie-poster" src="images/starwars-esb.jpg">
            <h3 class="loc3 movie1 title">Star Wars: Episode V - The Empire Strikes Back</h3>
            <a href="movie-details-starwars5.html" class="movie-details">More Details</a>
          </div>
          <div class"movie-container loc3 movie2">
            contains the movie poster and the detials button
            <img class="movie-poster" src="images/avengers-endgame.jpg">
            <h3 class="loc3 movie2 title">Avengers: Endgame</h3>
            <a href="movie-details-avengersendgame.html" class="movie-details">More Details</a>
          </div> -->
        </div>
      </div>

      <div class="cinemas loc4">
        <!-- container for movies under Pangasinan -->
        <h2 class="loc4">Pangasinan</h2>
        <div class="loc4 movielist">
          {{#each location4}}
          {{>movieCard this}}
          {{/each}}
          <!-- <div class"movie-container loc4 movie1">
            contains the movie poster and the detials button
            <img class="movie-poster" src="images/shrek.png">
            <h3 class="loc4 movie1 title">Shrek</h3>
            <a href="movie-details-shrek.html" class="movie-details">More Details</a>
          </div>
          <div class"movie-container loc4 movie2">
            contains the movie poster and the detials button
            <img class="movie-poster" src="images/tangled.jpg">
            <h3 class="loc4 movie2 title">Tangled</h3>
            <a href="movie-details-tangled.html" class="movie-details">More Details</a>
          </div>
          <div class"movie-container loc4 movie3">
            contains the movie poster and the detials button
            <img class="movie-poster" src="images/avengers-endgame.jpg">
            <h3 class="loc4 movie3 title">Avengers: Endgame</h3>
            <a href="movie-details-avengersendgame.html" class="movie-details">More Details</a>
          </div> -->
        </div>
      </div>

      <div class="cinemas loc5">
        <!-- container for movies under Bulacan -->
        <h2 class="loc5">Bulacan</h2>
        <div class="loc5 movielist">
          {{#each location5}}
          {{>movieCard this}}
          {{/each}}
          <!-- <div class"movie-container loc5 movie1">
            contains the movie poster and the detials button
            <img class="movie-poster" src="images/avengers-endgame.jpg">
            <h3 class="loc5 movie1 title">Avengers: Endgame</h3>
            <a href="movie-details-avengersendgame.html" class="movie-details">More Details</a>
          </div>
          <div class"movie-container loc5 movie2">
            contains the movie poster and the detials button
            <img class="movie-poster" src="images/tangled.jpg">
            <h3 class="loc5 movie2 title">Tangled</h3>
            <a href="movie-details-tangled.html" class="movie-details">More Details</a>
          </div> -->
        </div>
      </div>

    </div>

    {{> footer}}

  </body>
</html>
