<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <title>Manager Account - Account Details</title>
    <link rel="stylesheet" type="text/css" href="css/manager.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/manager-edit.js"></script>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  </head>
  <body>
    {{> header}}

    <div id="sidebar">
      {{> managerSideBar}}
      <div class="options">
        <ul class="options">
          <li><a class="options" href="/profile">Profile</a></li><br>
          <li class="current">Edit Cinema</a></li>
          <li><a class="options" href="/editmovies">Edit Movies</a></li>
        </ul>
      </div>
    </div>

    <div id="page">
      <div id="content">
        <h2>Cinema Editor</h2>

        <div class="startEdit" style="display: block">
          <h3>Choose an action to procced:</h3>
          <button type="button" onclick="addMov()">Add a New Movie</button>
          <button type="button" onclick="editCinema()">Edit a Cinema</button>
          {{#if error}}
              <div class="alert alert-danger" role="alert">
                {{error}}
              </div>
          {{/if}}
        </div>

        <div id="add" style="display:none"><!-- addMov() -->
          <h3>Add a New Movie</h3>
          <form action="/addmovie" method="POST"> <!-- onsubmit="submitMovie(); return false" -->
            <label for="addMovie">Movie Name:</label>
            <input type="text" name="movieName" id="movieName" required="required">
            <br>
            <label for="addMovie">Poster:</label>
            <input type="file" name="moviePoster" id="moviePoster" required="required">
            <br>
            <label for="addMovie">Banner:</label>
            <input type="filr" name="movieBanner" id="movieBanner" required="required">
            <br>
            <label for="addMovie">Choose appropriate movie genre (up to 3):</label>
            <br>
            <input type="radio" id="genre1" name="genre1" value="Animation">
            <label for="addMovie"> Animation</label>
            <input type="radio" id="genre2" name="genre2" value="Adventure">
            <label for="addMovie"> Adventure</label>
            <input type="radio" id="genre3" name="genre3" value="Action">
            <label for="addMovie"> Action</label>
            <input type="radio" id="genre4" name="genre4" value="Comedy">
            <label for="addMovie"> Comedy</label>
            <input type="radio" id="genre5" name="genre5" value="Drama">
            <label for="addMovie"> Drama</label>
            <input type="radio" id="genre6" name="genre6" value="Fantasy">
            <label for="addMovie"> Fantasy</label>
            <input type="radio" id="genre7" name="genre7" value="Romance">
            <label for="addMovie"> Romance</label>
            <br>
            <label for="addMovie">Synopsis:</label>
            <input type="text" name="movieSynopsis" id="movieSynopsis" required="required">
            <br>
            <label for="addMovie">Director/s:</label>
            <input type="text" name="movieDirector" id="movieDirector" required="required">
            <br>
            <label for="addMovie">Cast:</label>
            <input type="text" name="movieCast" id="movieCast" required="required">
            <br>
            <label for="addMovie">Trailer:</label>
            <input type="text" name="movieTrailer" id="movieTrailer" required="required">
            <br>
            <label for="addMovie">Price:</label>
            <input type="text" name="price" id="price" required="required">
            <br>
            <label for="addMovie">Your Location:</label>
            <input type="text" name="location" id="location" required="required">
            <br>
            <input type="submit" value="Submit">
          </form>
          <p class="msg"></p>
        </div>

        <div id="edit" style="display:none">
          <h3>Edit a Cinema</h3>
          <form onsubmit="submitCinema(); return false">
            <label for="cinema">Choose a cinema to edit:</label>
            <select name="cinema" id="cinema-select">
              <option value="cin1">Cinema 1</option>
              <option value="cin2">Cinema 2</option>
              <option value="cin2">Cinema 3</option>
            </select>
            <input type="submit" value="Submit">
          </form>

          <div id="cinema-editor" style="visibility:hidden">
            <br />
            <label for="movies">Choose a movie for this cinema:</label>
            <select name="movies" id="movies-select">
              <option value="movie1">Avengers: Endgame</option>
              <option value="movie2">Star Wars: Episode V - The Empire Strikes Back</option>
              <option value="movie3">Tangled</option>
              <option value="movie4">Bee Movie</option>
              <option value="movie5">Shrek</option>
            </select>
            <!-- <input type="submit" value="Submit"> -->

            <div id="date-editor">
              <form  onsubmit="submitDates(); return false">
                <label for="startDate">Choose viewing a start date</label>
    					  <input type="date" name="startDate" id="startDate">
                <label for="endDate">and an end date</label>
    					  <input type="date" name="endDate" id="endDate">
                <input type="submit" value="Submit">
              </form>

              <div id="unDate" style="visibility:hidden">
                <div id="appendDate"></div>
                <button type="button" onclick="addDateInput()">Add an unavailable date</button>
              </div>

              <div id="time-editor" style="visibility:hidden">
                <form onsubmit="return false">
                  <label for="time">Choose available times:</label><br />
                  <input type="checkbox" id="time1" name="time1" value="11:30 AM">
                  <label for="time1"> 11:30 AM</label><br>
                  <input type="checkbox" id="time2" name="time2" value="2:30 PM">
                  <label for="time2"> 2:30 PM</label><br>
                  <input type="checkbox" id="time3" name="time3" value="5:30 PM">
                  <label for="time3"> 5:30 PM</label><br />
                  <input type="checkbox" id="time4" name="time4" value="8:30 PM">
                  <label for="time4"> 8:30 PM</label><br>
                  <input type="submit" value="Submit"><br><br>
                </form>
              </div>
            </div>
        </div>


        </div>

        <!-- input movie title, input cinema number, choose multiple dates, choose available times -->


        <div id="return" style="display:none">
          <button class="return" type="button" onclick="window.location.reload()">Return</button>
        </div>

      </div>

      {{> footer}}
    </div>
</body>
</html>
