<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <title>Manager Account - Account Details</title>
    <link rel="stylesheet"  type="text/css" href="css/manager.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/manager-edit.js"></script>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  </head>
  <body>
    {{> header}}

    <div id="sidebar">
      {{> managerSideBar}}
      <div class="options">
        <ul class="options">
          <li><a class="options" href="/profile">Profile</a></li><br>
          <li><a class="options" href="/editcinema">Edit Cinema</a></li>
          <li class="current">Edit Movies</li>
        </ul>
      </div>
    </div>

    <div id="page">
      <div id="content2">
        <h2 id="movie-title">Editing {{movie}}</h2>
        <div id="editMovie">

        <form action="/submitteditmovie/{{movie}}" method="POST">
            {{#if error}}
              <div class="alert alert-danger" role="alert">
                {{error}}
              </div>
          {{/if}}
          <div class="update upImage">
            <br /><h3 class="form">Edit Movie Poster</h3>
            <label for="imageFile">Upload Movie Poster:</label>
            <input type="file" name="moviePoster" class="imageFile" accept="image/*">
          </div>


          <div class="update upImage">
            <br /><h3 class="form">Edit Movie Banner</h3>
            <label for="imageFile">Upload Movie Banner:</label>
            <input type="file" name="movieBanner" class="imageFile" accept="image/*">
          </div>

          <div class="update upTitle">
            <br /><h3 class="form">Edit Movie Title</h3>
            <input type="text" name="movieName" id="upTitle">
            <!-- <input type="submit" value="Submit"> -->
          </div>

          <div class="update upDesc">
            <br /><h3 class="form">Edit Movie Synopsis</h3>
            <!-- <label for="movdesc">Type Movie Synopsis</label><br /> -->
            <textarea id="movdesc" name="movieSynopsis" rows="8" cols="100"></textarea>
          </div>

          <div class="update upGenres">
            <br /><h3 class="form">Edit Movie Genres</h3>
            <label for="time">Choose appropriate movie genre (up to 3):</label><br />
            <input type="radio" id="genre1" name="genre1" value="Animation">
            <label for="addMovie"> Animation</label>
            <input type="radio" id="genre2" name="genre2" value="Adventure">
            <label for="addMovie"> Adventure</label>
            <input type="radio" id="genre3" name="genre3" value="Action">
            <label for="addMovie"> Action</label>
            <input type="radio" id="genre4" name="genre4" value="Comedy">
            <label for="addMovie"> Comedy</label>
            <input type="radio" id="genre5" name="genre5" value="Drama">
            <label for="addMovie"> Drama</label>
            <input type="radio" id="genre6" name="genre6" value="Fantasy">
            <label for="addMovie"> Fantasy</label>
            <input type="radio" id="genre7" name="genre7" value="Romance">
            <label for="addMovie"> Romance</label>
          </div>

          <div class="update upDirectors">
            <br /><h3 class="form">Edit Movie Directors</h3>
            <label for="upDirectors">Input Directors' first and last name, seperate per director with a comma:</label><br />
            <input type="text" name="movieDirector" id="upDirectors" style="width:300px">
          </div>

          <div class="update upCast">
            <br /><h3 class="form">Edit Movie Cast</h3>
            <label for="upCast">Input casts' first and last name, seperate per cast with a comma:</label><br />
            <input type="text" name="movieCast" id="upCast" style="width:300px">
          </div>

          <div class="update upCast">
            <br /><h3 class="form">Edit Movie Trailer</h3>
            <label for="upCast">Input link to trailer:</label><br />
            <input type="text" name="movieTrailer" id="upCast" style="width:300px">
          </div>

          <div class="update upGenres">
            <br /><h3 class="form">Edit Availability</h3>
            <input type="radio" id="status" name="status" value="Available">
            <label for="addMovie"> Available</label>
            <input type="radio" id="status" name="status" value="Unavailable">
            <label for="addMovie"> Unavailable</label>
          </div>

          <div class="update upCast">
            <br /><h3 class="form">Edit Movie Price</h3>
            <input type="text" name="price" id="upCast" style="width:300px"><br><br>
          </div>

        </div>
        <!-- Edit Poster
        Edit Title
        Edit Description
        Edit Times -->
        <div id="formButtons" style="display:flex">
          <div id="submitEdit">
            <button class="submitButton" type="submit">Submit Edit</button>
          </div>
        </div>

        </form>

      </div>

      {{> footer}}
    </div>
</body>
</html>