<html>
    <head>
        <title>Movies</title>
        <link rel="stylesheet" href="/css/movie_desc.css">
    </head>
    <body>
      <!--nav bar
  
      {{> header}}

        <h2>MANILA CITY MOVIES</h2>

        <div id="list-container">
          <div class="movie_desc">
              <img src="images/avengers-endgame.jpg" alt="movie poster for Avengers: Endgame" class="poster">
              <p class ="movie_name">
                  <img src="PG.png" alt="rating for movie" class="movie_rating">
                  Avengers: Endgame
              </p>

              <p class="description">
                  <br>
                  After the devastating events of Avengers: Infinity War (2018), the universe is in ruins. With the help of remaining allies, 
                  the Avengers assemble once more in order to reverse Thanos' actions and restore balance to the universe.
              </p>
              <a href="movie-details-avengersendgame.html" class="movie-details">More Details</a>

          </div>

          <div class="movie_desc">
              <img src="images/starwars-esb.jpg" alt="movie poster for Star Wars" class="poster">

              <p class ="movie_name">
                  <img src="PG.png" alt="rating for movie" class="movie_rating">
                  Star Wars: Episode V - The Empire Strikes Back
              </p>

              <p class="description">
                  <br>
                  After the Rebels are brutally overpowered by the Empire on the ice planet Hoth, Luke Skywalker begins Jedi training with Yoda,
                   while his friends are pursued across the galaxy by Darth Vader and bounty hunter Boba Fett.
              </p>
              <a href="movie-details-starwars5.html" class="movie-details">More Details</a>

          </div>

          <div class="movie_desc">
              <img src="images/shrek.png" alt="movie poster for Shrek" class="poster">

              <p class ="movie_name">
                  <img src="G.png" alt="rating for movie" class="movie_rating">
                  Shrek
              </p>

              <p class="description">
                  <br>
                  A mean lord exiles fairytale creatures to the swamp of a grumpy ogre, 
		              who must go on a quest and rescue a princess for the lord in order to get his land back.
              </p>
              <a href="movie-details-shrek.html" class="movie-details">More Details</a>

          </div>

        </div>
        {{> footer}}

    </body>
</html>
