<html>
    <head>
        <title>Movies</title>
        <link rel="stylesheet" href="/css/movie_desc.css">
    </head>
    <body>
      <!--nav bar-->
  
      {{> header}}

        <h2>MOVIES</h2>

        <div id="list-container">

          <!--edit-->
          {{#each location}}
            {{>locationMovies this}}
          {{/each}}

        </div>
        {{> footer}}

    </body>
</html>
