<html>
    <head>
        <title>Movies Now Showing</title>
        <link rel="stylesheet" href="/css/now-showing-style.css">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    </head>
    <body>
      <!--nav bar-->
        {{>header}}

        <h2>Now Showing</h2>

        <div id="list-container">
            {{#each allMovies}}
                {{>showingMovies this}}
            {{/each}}

        </div>

        {{>footer}}


    </body>
</html>
